USE [QuizOnline]
GO
ALTER TABLE [dbo].[QuizQuestion] DROP CONSTRAINT [FK_QuizQuestion_QuizDetail]
GO
ALTER TABLE [dbo].[QuizDetail] DROP CONSTRAINT [FK_QuizDetail_Quiz]
GO
ALTER TABLE [dbo].[QuizAnswer] DROP CONSTRAINT [FK_QuizAnswer_QuizQuestion]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [FK_Quiz_User]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [FK_Quiz_Subject]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [FK_Question_Subject]
GO
ALTER TABLE [dbo].[Answer] DROP CONSTRAINT [FK_Answer_Question]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[Subject]
GO
/****** Object:  Table [dbo].[QuizQuestion]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[QuizQuestion]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[QuizDetail]
GO
/****** Object:  Table [dbo].[QuizAnswer]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[QuizAnswer]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[Quiz]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP TABLE [dbo].[Answer]
GO
USE [master]
GO
/****** Object:  Database [QuizOnline]    Script Date: 1/31/2021 9:08:28 PM ******/
DROP DATABASE [QuizOnline]
GO
/****** Object:  Database [QuizOnline]    Script Date: 1/31/2021 9:08:28 PM ******/
CREATE DATABASE [QuizOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizOnline.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuizOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizOnline_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizOnline]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Answer](
	[answerID] [varchar](50) NOT NULL,
	[questionID] [varchar](50) NOT NULL,
	[answerContent] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Question](
	[questionID] [varchar](50) NOT NULL,
	[subjectID] [varchar](50) NOT NULL,
	[questionContent] [nvarchar](500) NOT NULL,
	[correctAnswer] [nvarchar](500) NOT NULL,
	[createDate] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quiz](
	[quizID] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[subjectID] [varchar](50) NOT NULL,
	[timeDuration] [time](7) NOT NULL,
	[totalPoint] [float] NOT NULL,
	[isFinish] [bit] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[finishDate] [datetime] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[quizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuizAnswer]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuizAnswer](
	[quizAnswerID] [varchar](50) NOT NULL,
	[quizQuestionID] [varchar](50) NOT NULL,
	[quizAnswerContent] [nvarchar](2550) NOT NULL,
 CONSTRAINT [PK_quizAnswer] PRIMARY KEY CLUSTERED 
(
	[quizAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuizDetail](
	[quizDetailID] [varchar](50) NOT NULL,
	[quizID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_QuizDetail] PRIMARY KEY CLUSTERED 
(
	[quizDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuizQuestion]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuizQuestion](
	[quizQuestionID] [varchar](50) NOT NULL,
	[quizDetailID] [varchar](50) NOT NULL,
	[quizQuestionContent] [nvarchar](255) NOT NULL,
	[quizCorrectAnswer] [nvarchar](255) NOT NULL,
	[selectionAnswer] [nvarchar](255) NULL,
 CONSTRAINT [PK_quizQuestion] PRIMARY KEY CLUSTERED 
(
	[quizQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectID] [varchar](50) NOT NULL,
	[subjectName] [nvarchar](255) NOT NULL,
	[numberOfQuestion] [int] NOT NULL,
	[beginDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[timeDuration] [time](7) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/31/2021 9:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[email] [varchar](100) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Answer] ([answerID], [questionID], [answerContent]) VALUES (N'05a4e7d5-7c03-4868-9d39-a7f2088d3d700', N'05a4e7d5-7c03-4868-9d39-a7f2088d3d70', N'on')
INSERT [dbo].[Answer] ([answerID], [questionID], [answerContent]) VALUES (N'05a4e7d5-7c03-4868-9d39-a7f2088d3d701', N'05a4e7d5-7c03-4868-9d39-a7f2088d3d70', N'over')
INSERT [dbo].[Answer] ([answerID], [questionID], [answerContent]) VALUES (N'05a4e7d5-7c03-4868-9d39-a7f2088d3d702', N'05a4e7d5-7c03-4868-9d39-a7f2088d3d70', N'for')
GO
INSERT [dbo].[Question] ([questionID], [subjectID], [questionContent], [correctAnswer], [createDate], [status]) VALUES (N'05a4e7d5-7c03-4868-9d39-a7f2088d3d70', N'ENG101', N'They quarreled ________ the choice of a house.', N'over', CAST(N'2021-01-30' AS Date), 1)
INSERT [dbo].[Question] ([questionID], [subjectID], [questionContent], [correctAnswer], [createDate], [status]) VALUES (N'05bfbee0-7e0b-40cf-8d12-1c1db1876808', N'ENG101', N'Tom has a computer, _____ he doesnât use it.', N'but', CAST(N'2021-01-30' AS Date), 1)
INSERT [dbo].[Question] ([questionID], [subjectID], [questionContent], [correctAnswer], [createDate], [status]) VALUES (N'09e98b6a-75ab-4083-96ce-5b9a3aa6dae6', N'PRJ311', N'Question 10', N'Option 1', CAST(N'2021-01-30' AS Date), 0)
GO
INSERT [dbo].[Quiz] ([quizID], [email], [subjectID], [timeDuration], [totalPoint], [isFinish], [startDate], [finishDate]) VALUES (N'00bf20b8-9590-4cf2-8131-37da0ca0fee6', N'test02@quizonline.vn', N'PRJ321', CAST(N'00:01:30' AS Time), 10, 1, CAST(N'2021-01-30 18:25:53.167' AS DateTime), CAST(N'2021-01-30 18:25:53.167' AS DateTime))
INSERT [dbo].[Quiz] ([quizID], [email], [subjectID], [timeDuration], [totalPoint], [isFinish], [startDate], [finishDate]) VALUES (N'01931ccd-395c-490f-ac8d-58606e5c2e32', N'test01@quizonline.vn', N'ENG101', CAST(N'00:10:00' AS Time), 6, 1, CAST(N'2021-01-30 20:49:37.600' AS DateTime), CAST(N'2021-01-30 20:49:37.600' AS DateTime))
INSERT [dbo].[Quiz] ([quizID], [email], [subjectID], [timeDuration], [totalPoint], [isFinish], [startDate], [finishDate]) VALUES (N'06d9c3df-a0ad-4900-8c5a-4af775e665f5', N'test01@quizonline.vn', N'ENG101', CAST(N'00:10:00' AS Time), 6, 1, CAST(N'2021-01-30 19:11:48.233' AS DateTime), CAST(N'2021-01-30 19:11:48.233' AS DateTime))
INSERT [dbo].[QuizAnswer] ([quizAnswerID], [quizQuestionID], [quizAnswerContent]) VALUES (N'004a459a-2ddd-4600-abbb-6659611b694d0', N'004a459a-2ddd-4600-abbb-6659611b694d', N'Option 3')
INSERT [dbo].[QuizAnswer] ([quizAnswerID], [quizQuestionID], [quizAnswerContent]) VALUES (N'004a459a-2ddd-4600-abbb-6659611b694d1', N'004a459a-2ddd-4600-abbb-6659611b694d', N'Option 2')
INSERT [dbo].[QuizAnswer] ([quizAnswerID], [quizQuestionID], [quizAnswerContent]) VALUES (N'004a459a-2ddd-4600-abbb-6659611b694d2', N'004a459a-2ddd-4600-abbb-6659611b694d', N'Option 1')
GO
INSERT [dbo].[QuizDetail] ([quizDetailID], [quizID]) VALUES (N'0499d93f-5f64-4d90-9ad1-92ca7ac23997', N'788d955c-0ea5-49bd-a0a9-9b8c0aa2fd70')
INSERT [dbo].[QuizDetail] ([quizDetailID], [quizID]) VALUES (N'0e00f18a-c626-426f-bc4f-371f6ad56f70', N'900eea45-ca75-4f94-83d5-6ffdfa303cdf')
INSERT [dbo].[QuizDetail] ([quizDetailID], [quizID]) VALUES (N'108fefb3-7393-4241-8f6b-cd2241256dd7', N'db3ad85f-aa95-41b5-9051-95dfa25f6097')
INSERT [dbo].[QuizQuestion] ([quizQuestionID], [quizDetailID], [quizQuestionContent], [quizCorrectAnswer], [selectionAnswer]) VALUES (N'004a459a-2ddd-4600-abbb-6659611b694d', N'5a37a188-a0d5-48ca-9532-1246f13215ba', N'Question 6', N'Option 1', N'Option 1')
INSERT [dbo].[QuizQuestion] ([quizQuestionID], [quizDetailID], [quizQuestionContent], [quizCorrectAnswer], [selectionAnswer]) VALUES (N'0301a15d-2bc6-4bac-8636-c41bdf698a79', N'fbb19cda-57c6-497d-8932-8de8f8e4f031', N'Question 5', N'Option 1', N'Option 1')
INSERT [dbo].[QuizQuestion] ([quizQuestionID], [quizDetailID], [quizQuestionContent], [quizCorrectAnswer], [selectionAnswer]) VALUES (N'03a86e62-fd93-444e-8b6d-64519f2f941e', N'0499d93f-5f64-4d90-9ad1-92ca7ac23997', N'A(n)_enables a web application to obtain a Connection to a database.', N'DataSource', N'DataSource')
GO
INSERT [dbo].[Subject] ([subjectID], [subjectName], [numberOfQuestion], [beginDate], [endDate], [timeDuration]) VALUES (N'ENG101', N'Basic English', 20, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date), CAST(N'00:10:00' AS Time))
INSERT [dbo].[Subject] ([subjectID], [subjectName], [numberOfQuestion], [beginDate], [endDate], [timeDuration]) VALUES (N'PRJ311', N'Java Desktop', 5, CAST(N'2020-01-01' AS Date), CAST(N'2021-12-01' AS Date), CAST(N'00:00:20' AS Time))
INSERT [dbo].[Subject] ([subjectID], [subjectName], [numberOfQuestion], [beginDate], [endDate], [timeDuration]) VALUES (N'PRJ321', N'Java Web Application', 5, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date), CAST(N'00:00:30' AS Time))
INSERT [dbo].[User] ([email], [name], [password], [role], [status]) VALUES (N'admin01@quizonline.vn', N'Admin 01', N'38b9f9ff377a60394e6f7624c8e19b9056b6f077a374153582989ed2488f8532', N'admin', N'New')
INSERT [dbo].[User] ([email], [name], [password], [role], [status]) VALUES (N'test01@quizonline.vn', N'Test 01', N'38b9f9ff377a60394e6f7624c8e19b9056b6f077a374153582989ed2488f8532', N'student', N'New')
INSERT [dbo].[User] ([email], [name], [password], [role], [status]) VALUES (N'test02@quizonline.vn', N'Test 02', N'38b9f9ff377a60394e6f7624c8e19b9056b6f077a374153582989ed2488f8532', N'student', N'New')
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([subjectID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Subject]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([subjectID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Subject]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_User] FOREIGN KEY([email])
REFERENCES [dbo].[User] ([email])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_User]
GO
ALTER TABLE [dbo].[QuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswer_QuizQuestion] FOREIGN KEY([quizQuestionID])
REFERENCES [dbo].[QuizQuestion] ([quizQuestionID])
GO
ALTER TABLE [dbo].[QuizAnswer] CHECK CONSTRAINT [FK_QuizAnswer_QuizQuestion]
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD  CONSTRAINT [FK_QuizDetail_Quiz] FOREIGN KEY([quizID])
REFERENCES [dbo].[Quiz] ([quizID])
GO
ALTER TABLE [dbo].[QuizDetail] CHECK CONSTRAINT [FK_QuizDetail_Quiz]
GO
ALTER TABLE [dbo].[QuizQuestion]  WITH CHECK ADD  CONSTRAINT [FK_QuizQuestion_QuizDetail] FOREIGN KEY([quizDetailID])
REFERENCES [dbo].[QuizDetail] ([quizDetailID])
GO
ALTER TABLE [dbo].[QuizQuestion] CHECK CONSTRAINT [FK_QuizQuestion_QuizDetail]
GO
USE [master]
GO
